:root{
    --main-color:#ec5f06;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{

    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* box */
.box-setting{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 2px solid #EEE;
}
.box-setting.open{
    left: 0;
}
.box-setting .setting{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: aliceblue;
    padding: 8px 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.option-box{
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: #EEE;
}
.option-box h4{
margin: 0%;
color: #666;
font-size: 14px;
}
.option-box .colors-list{
list-style: none;
text-align: center;
padding: 0;
}
.option-box .colors-list li{
width: 20px;
height: 20px;
background-color: black;
border-radius: 50%;
cursor: pointer;
opacity: .5;
display: inline-block;
margin: 4px;
}
.option-box .colors-list li.active{
    opacity: 1;
}
.option-box .colors-list li:first-child{
    background-color: var(--main-color);
}
 .option-box .colors-list li:nth-child(2){
    background-color: #E91E63;
} 
 .option-box .colors-list li:nth-child(3){
    background-color:#009688;
} 
 .option-box .colors-list li:nth-child(4){
    background-color: #03A9F4;
} 
 .option-box .colors-list li:nth-child(5){
    background-color: #4CAF50;
}  
/* nav bullet */
.nav-bullet{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 99;
}
.nav-bullet .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullet .bullet:hover .tooltip {
    display: block;
}
.nav-bullet .bullet .tooltip {
    background-color: var(--main-color);
    width: 120px;
    color: #FFF;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullet .bullet .tooltip:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
}
/* landing */
.landing{
    min-height: 100vh;
    background-image: url(../img/1.jpeg);
    background-size: cover;
    position: relative;
}
.landing .overflow{
    background-color: rgba(67, 59, 59, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0%;
    z-index: 1;    
}
.landing .header{
    position: relative;
    z-index: 2;
    color:#fff;
    display: flex;
    padding: 10px;
    
}
.landing .header .logo{
    width: 300px;
    padding: 20px;
    font-weight: bolder;
}
.landing .header .ul-container{
    width: 100%;
    text-align: right;
}
.landing .header .ul{
    list-style:none ;
    width: 100%;
    /* padding-left: 0; */
    /* padding-right: 20px; */
    text-align: right;
    /* font-size: 15px; */
}
.landing .header .ul a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.landing .header .ul a:hover,
.landing .header .ul a.active{
    color: var(--main-color);
}
/* .landing .header .toggle-menu{
    background: none;
    border: none;
    width: 30px;
    margin-top: 27px;
    display: none;
    position: relative;
}
.landing .header .toggle-menu:before{
    content: '';
    border-width: 10px;
    border-style: solid;
    position: absolute;
    left: 6px;
    bottom: -6px;
    border-color: transparent transparent #fff transparent;
}
.landing .header .toggle-menu span{
    display: block;
    background-color: #fff;
    height: 3px;
    margin-bottom: 4px;
    
} */
.landing .header .ul li{
    display: inline-block;
    margin-left: 20px;
}
.landing-text{
    color: #fff;
    z-index: 2;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    width: 95%;
}
.landing-text h1{
    font-size: 34px;
    margin: 0 0 12px;
}
@media (max-width : 575px) {
    .landing-text h1{
        font-size: 28px;
    }
}
.landing-text h1 span{
    color: var(--main-color);
}
.landing-text p{
    line-height: 2;
    font-size: 23px;
    margin: 0;
}
/* @media (400px < width < 600px ){
    .landing .header .ul{
        display: none;
    }
    .landing .header .ul.open{
        background-color: #fff;
        display: block;
        border-radius: 0px;
        padding: 10px;
        position: absolute;
        width: 75%;
        left: 0;
        top: 66px;
    }
    .landing .header .ul.open li{
        display: flex;
        margin: 5px;
    }
    .landing .header .ul.open li a{
        font-weight: bolder;
        color: var(--main-color);

    }
    .landing .header .toggle-menu{
        display: block;
        margin-left: 50px;
    }
}
@media (610px < width < 991px) {
    .landing .header .ul{
        display: none;
    }
    .landing .header .ul.open{
        background-color: #fff;
        display: block;
        border-radius: 0px;
        padding: 10px;
        position: absolute;
        width: 75%;
        left: 0;
        top: 66px;
    }
    .landing .header .ul.open li{
        display: flex;
        margin: 5px;
    }
    .landing .header .ul.open li a{
        font-weight: bolder;
        color: var(--main-color);

    }
    .landing .header .toggle-menu{
        display: block;
        margin-left: 550px;
    }
} */

/* about us */
.about{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    
}
@media (max-width : 767px) {
    .about{
        text-align: center;
        margin-left: 80px;
    }
    .about .image-box img{
        display: none;
    }
    .about .info-box p{
        font-size: 17px;
    }
}
.about .info-box{
    flex: 1;
}
.about .info-box h2{
    font-size: 50px;
    color: var(--main-color);
    font-weight: bold;
}
.about .info-box p{
    line-height: 1.8;
    color: #777;
    font-size: 24px;
}
.about .image-box{
    flex: 1;
    text-align: center;
    
}
.about .image-box img{
    width: 500px;
}

/* our skills */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills h2{
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    margin: 0 0 50px;
}
.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;

}
@media (max-width : 767px) {
    .skills .skill-box{
        display: block;
    }
    .skills .skill-box .skill-name{
        margin: 15px;
        width: 100%;
    }

}
.skills .skill-box .skill-name{
font-weight: bold;
width: 140px;
text-align: center;
line-height: 30px;

}
.skills .skill-box .skill-progress{
width: calc(100% - 110px);
height: 30px;
background-color: #f6f6f6;
border-radius: 6px;
position: relative;
overflow: hidden;
}
.skills .skill-box .skill-progress span{
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    transition: all .6s;
}

/* our gallry */

.gallry{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallry h2{
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    margin: 0 0 50px;
}
.gallry .image-box{
    text-align: center;
}
.gallry .image-box img{
    width: 200px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    border: 1px solid #ccc;
}
.overlay{
    position: fixed;
    background-color: rgba(0,0, 0,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}
.popup-box img{
    max-width: 100%;
}
.h2-h{

    color: var(--main-color);
    margin: 0 0 20px;
    text-align: center;
    font-weight: bold;
}
.close{
    right: -15px;
    top: -15px;
    border-radius: 50%;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* time line */
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content:before{
    content: '';
    width: 3px;
    height: 100%;
    margin-left: -1px;
    top: 0;
    background-color: var(--main-color);
    position:absolute;
    left: 50%;
}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .left:before{
    content: '';
    width: 15px;
    height: 15px;
    border:3px solid var(--main-color);
    background-color: #fff;
    border-radius: 50%;
    top: 20px;
    right: -35px;
    position: absolute;
}
.timeline .timeline-content .right{
    float: right;
}
.timeline .timeline-content .right:before{
    content: '';
    width: 15px;
    height: 15px;
    border:3px solid var(--main-color);
    background-color: #fff;
    border-radius: 50%;
    top: 20px;
    left: -35px;
    position: absolute;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: #fff;
    
}
.timeline .timeline-content .content h3{
    color: var(--main-color);
    margin: 0 0 10px;
    font-weight: bold;

}
.timeline .timeline-content .content p{
    color: #666;
    margin: 0;
    line-height: 1.6;
}
.clearfix{
    clear: both;
}
.timeline .timeline-content .left .content:before{
    content: '';
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 10px;
    right: -19px;
    position: absolute;
}
.timeline .timeline-content .right .content:before{
    content: '';
    width: 0;
    height: 0;
    border-color: transparent  #fff transparent transparent;
    border-style: solid;
    border-width: 10px;
    left: -19px;
    position: absolute;
}
/* our features */

.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    margin: 0 0 50px;
}
.feat-box{
    float: left;
    text-align: center;
    margin-bottom: 40px;
    width: calc(100% /3);
}
.features .feat-box img {
    width: 100px;
}
.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4:before {
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* Start Testimonials */
.testimonials {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.testimonials:before {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials:after {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    margin: 0 0 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 5);
    float: left;
    background-color: #FFF;
    padding: 20px;
    border-radius: 3px;
    margin: 10px;
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 15px;
    color: #707070;
    font-style: italic;  
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
.testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
.testimonials .ts-box .person-info h4 {
    margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;
}
/* Start Contact Us */
.uf-contact-form-02 {
    max-width: 9900px;
    background-color: #eee;
    margin-bottom: 400px;
}

@media (min-width: 576px) {
    .uf-contact-form-02 {
        min-height: 100vh;
        align-content: center;
    }
}

.uf-contact-form-02-body {
    border: 2px solid #111;
    position: relative;
}

@media (min-width: 768px) {
    .uf-contact-form-02-body:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background:var(--main-color);
        left: 20px;
        top: -20px;
        z-index: -1;
    }
}

.uf-img-contact-form-02 {
    max-width: 100%;
    animation: uf-animation 4s ease-in-out 1s infinite alternate;
    position: relative;
}

.uf-ct-02-text-primary {
    color: var(--main-color);
}

.uf-ct-02-bg-primary {
    background-color: var(--main-color);
}

.uf-ct-02-btn-primary {
    background-color: var(--main-color);
    color: #111;
    border: 2px solid var(--main-color);
    border-radius: 0;
}

.uf-ct-02-btn-primary:hover {
    background-color: #111;
    color: #fff;
    border: 2px solid #111;
}

@keyframes uf-animation {
    0% {
        top: 0px;
    }

    50% {
        top: -30px;
    }

    100% {
        top: 0px;
    }
}

.form-control {
    border: 2px solid #111;
    border-radius: 0;
}

.form-control:focus {
    border-color:var(--main-color);
    box-shadow: 0 0 0 .25rem #ffb31f36;
}

  /* End Contact Us */


  /* grid */

@media (max-width: 576px){
    .container{
        min-width: 540px;
    }
}

@media (max-width: 768px){
    .container{
        min-width: 720px;
    }
}

@media (max-width: 1000px){
    .container{
        min-width: 960px;
    }
}

@media (max-width: 1200px){
    .container{
        min-width: 1140px;
    }
}








/* footer */
